<component name="ArtifactManager">
  <artifact type="war" name="spring_lanjieqi:war">
    <output-path>$PROJECT_DIR$/spring_lanjieqi/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_lanjieqi</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_lanjieqi.war">
      <element id="artifact" artifact-name="spring_lanjieqi:war exploded" />
    </root>
  </artifact>
</component>