# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\202058304115苏二婷\java_ee\IDEA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
