<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/tool
	http://www.springframework.org/schema/tool/spring-tool.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- spring mvc配置文件，是sprin 子容器 -->


    <!-- 扫描 -->
    <context:component-scan base-package="cn.edu.cqwu.controller"></context:component-scan>


    <!-- 指定静态资源 -->
    <!-- **是js所有子目录都不需要经过前端工作器，都作为静态资源过滤处理 -->
    <!--    <mvc:resources location="/js/" mapping="/js/**"></mvc:resources>-->
    <!-- 使控制器起作用 -->
    <mvc:default-servlet-handler />
    <mvc:annotation-driven></mvc:annotation-driven>


    <!-- 内部资源视图解析器 -->
    <!-- 解决jsp路径问题 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value=" "></property>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--    文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--        编码-->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!--        文件上传大小-->
        <!--        <property name="maxUploadSize" value="1000000"></property>-->
    </bean>

<!--        &lt;!&ndash;    定义拦截器&ndash;&gt;-->
<!--            <mvc:interceptors>-->
<!--        &lt;!&ndash;        全局拦截，所有的controller都会拦截&ndash;&gt;-->
<!--        &lt;!&ndash;        <bean class="cn.edu.cqwu.utils.SetInterceptor"></bean>&ndash;&gt;-->
<!--        &lt;!&ndash;        局部拦截器&ndash;&gt;-->
<!--                <mvc:interceptor>-->
<!--        &lt;!&ndash;            指定拦截谁&ndash;&gt;-->
<!--        &lt;!&ndash;            <mvc:mapping path="/lanjie2"/>&ndash;&gt;-->

<!--        &lt;!&ndash;            全拦截&ndash;&gt;-->
<!--                    <mvc:mapping path="/**"/>-->
<!--        &lt;!&ndash;            指定不拦截&ndash;&gt;-->
<!--                    <mvc:exclude-mapping path="/login"/>-->
<!--                    <mvc:exclude-mapping path="/setlogin"/>-->

<!--                    <mvc:exclude-mapping path="/lanjie2"/>-->
<!--                    <bean class="cn.edu.cqwu.intercepter.SetIntercepter"></bean>-->
<!--                </mvc:interceptor>-->
<!--            </mvc:interceptors>-->

    <!--&lt;!&ndash;    简单的异常处理器&ndash;&gt;-->
    <!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
    <!--&lt;!&ndash;        出错之后跳转的页面&ndash;&gt;-->
    <!--        <property name="defaultErrorView" value="error"></property>-->
    <!--&lt;!&ndash;        处理异常的变量名&ndash;&gt;-->
    <!--        <property name="exceptionAttribute" value="e"></property>-->
    <!--    </bean>-->

    <!--    自定义异常处理器-->
    <!--    <bean class="cn.edu.cqwu.utils.SetExceptionHandler"></bean>-->
</beans>